{# app/Resources/views/lesOriginesAdd.html.twig #}

{% extends '/base.html.twig' %}

{% block body %} 

  <p style="..." align="center">{{ form_start(form) }} </p>
  <p style="..." align="center">{{ form_widget(form) }}</p>
  <p style="..." align="center">{{ form_end(form) }}</p>
  
{% endblock %}