{# app/Resources/views/default/formVin.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}


<p style="color: aquamarine" align="center" >{{ form_start(form) }}</p>
<p style="color: aquamarine" align="center" >{{ form_widget(form) }}</p>
<p style="color: aquamarine" align="center" >{{ form_end(form) }}</p>

{% endblock %}
